.nav-links {
    position: relative;
}

.nav-links a {
    position: relative;
    display: inline-block;
}

.nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transition: left 0.3s ease, width 0.3s ease;
}