@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 95%;
    --card-foreground: 0 0% 4%;
    --border: 0 0% 87.84%;
    --input: 0 0% 88%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 0 0.13% 86.49%;
    --accent-foreground: 0 0% 21%;
    --destructive: 6 92% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 7% 8%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 7% 5%;
    --popover-foreground: 0 0% 88%;
    --card: 240 7% 6%;
    --card-foreground: 0 0% 83%;
    --border: 240 5.88% 20%;
    --input: 240 5.88% 20%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 7% 23%;
    --accent-foreground: 240 7% 83%;
    --destructive: 0 84% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}